.table-text-center{
    text-align: center;
}

.table-thead {
    text-align: center;
    border: solid 1px #DDDDDD;
    font-family: '黑体';
    height: 40px;
    background-color: #E5E5E5;
    color: #A3A3A3;
}

.table-tbody > tr > td {
    text-align: center;
    background-color: #fff;
}